streamlit==1.31.1
langchain==0.1.9
langchain-openai==0.0.5
langchain-community==0.0.24
openai==1.12.0
chromadb==0.4.22
streamlit-chat==0.1.1
pandas==2.2.0
numpy==1.26.4
matplotlib==3.8.3
requests==2.31.0
seaborn==0.13.2
plotly==5.18.0
langchain-text-splitters
bs4
