streamlit
pysqlite3-binary>=0.5.2
sqlite3 >= 3.35.0
langchain
langchain-openai
langchain-community
openai
chromadb==0.3.29
streamlit-chat
langchain-text-splitters
bs4
streamlit-chromadb-connection

